<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-branchio" version="1.0.0">

    <!-- Change this to your plugin name -->
    <name>BranchIO Plugin</name>

    <!-- Change this to describe your plugin -->
    <description>Cordova plugin wrapper for the Branch.io SDK</description>
    <license>MIT</license>

    <!-- Add any other keywords you find necessary for your plugin -->
    <keywords>cordova,android,ios</keywords>

    <engines>
        <engine name="cordova" version=">=10.0.0"/>
        <engine name="cordova-android" version=">=9.0.0"/>
        <engine name="cordova-ios" version=">=6.1.1" />
    </engines>
    
<!--    <hook src="hooks/createBranchObject.js" type="before_plugin_add"/>-->
    <hook src="hooks/createBranchObject.js" type="before_plugin_install"/>
    <hook src="hooks/npmInstall.js" type="before_plugin_install" />
    <hook src="hooks/installDependency.js" type="after_plugin_install" />
    

<!--    <dependency id="branch-cordova-sdk" />-->

    <platform name="android">
        <!-- Change myplugin.js to the name of your plugin's main js file -->
        <js-module src="www/branchioplugin.js" name="plugin">
        <!-- Change myPlugin to the name you want your plugin to be referenced from -->
            <clobbers target="BranchOutSystems" />
        </js-module>
        <config-file target="AndroidManifest.xml" parent="/manifest/application/activity">
            <!-- Branch URI Scheme -->
            <intent-filter>
                <data android:scheme="branchio" android:host="open" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

            <!-- Branch App Links (optional) -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="3awzo.test-app.link" />
                <!-- example-alternate domain is required for App Links when the Journeys/Web SDK and Deepviews are used inside your website.  -->
                <data android:scheme="https" android:host="3awzo-alternate.test-app.link" />
            </intent-filter>
        </config-file>
        <config-file target="res/xml/config.xml" parent="/*">
            <!-- Change this to your plugin name -->
            <preference name="AndroidXEnabled" value="true" />
            <feature name="BranchIO">
                <!-- Change this to reflect the name of the package in your android source files -->
                <param name="android-package" value="com.fidelidade.plugins.BranchIOPlugin"/>
            </feature>
        </config-file>

        <source-file src="src/Android/BranchIOPlugin.java" target-dir="src/com/fidelidade/plugins"/>
        <!-- <source-file src="src/android/ToastyPlugin.java" target-dir="src/com/stanleyidesis/cordova/plugin" /> -->
    </platform>
    <platform name="ios">
        <!-- Change myplugin.js to the name of your plugin's main js file -->
        <js-module src="www/branchioplugin-ios.js" name="plugin">
        <!-- Change myPlugin to the name you want your plugin to be referenced from -->
            <clobbers target="BranchOutSystems" />
        </js-module>
        <hook src="hooks/modifyPList.js" type="after_plugin_install"/>
        
        <framework src="AdSupport.framework" weak="true"/>
        <framework src="AppTrackingTransparency.framework" weak="true" />
        <framework src="AdServices.framework" weak="false" embed="true" />
        <config-file target="config.xml" parent="/*">
            <feature name="BranchIO">
                <param name="ios-package" value="BranchIOPlugin" />
            </feature>
        </config-file>
        <!-- <source-file src="src/iOS/BranchIOPlugin.m" />
        <header-file src="src/iOS/BranchIOPlugin.h" /> -->
    </platform>
</plugin>
