<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-template" version="1.0.0">
    
    <!-- Change this to your plugin name -->
    <name>MyPlugin</name>

    <!-- Change this to describe your plugin -->
    <description>Basic cordova plugin template.</description>
    <license>MIT</license>

    <!-- Add any other keywords you find necessary for your plugin -->
    <keywords>cordova,android,ios</keywords>
    
    <engines>
        <engine name="cordova" version=">=7.0.0"/>
        <engine name="cordova-android" version=">=8.0.0"/>
    </engines>
  
    <!-- Change myplugin.js to the name of your plugin's main js file -->
    <js-module src="www/myplugin.js" name="plugin">
        <!-- Change myPlugin to the name you want your plugin to be referenced from -->
        <clobbers target="window.plugins.myPlugin" />
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <!-- Change this to your plugin name -->
            <feature name="MyPlugin">
                <!-- Change this to reflect the name of the package in your android source files -->
                <param name="android-package" value="com.cordova.plugins.MyPlugin"/>
            </feature>
        </config-file>

        <!-- <source-file src="src/android/ToastyPlugin.java" target-dir="src/com/stanleyidesis/cordova/plugin" /> -->
    </platform>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="MyPlugin">
                <param name="ios-package" value="CDVMyPlugin" />
            </feature>
        </config-file>
    </platform>
</plugin>